{% extends "base.html" %}

{% block heading %}
    Обратная связь
{% endblock %}

{% block content %}
    
    
    <form  action="{{ url_for('index') }}" method="post">
        <input type="text" name="name" placeholder="Введите ваше Имя">
        <input type="text" name="mail" placeholder="Введите ваш @mail">
        <input type="text" name="commen" placeholder="Оставьте отзыв">
        <button>Отправить</button>
    </form>
{% endblock %}

{% block footer %}<b>Ваши комментарии</b>
    <ul>
        {% for note in notes %}
            <li>{{ note }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for flight in flights %}
            <li class="li">{{ flight.name }} : {{ flight.commen }}</li>
            <!-- {{ "%s %s"|format(flight.id, flight.origin) }}[1:-1]|replace('"', ' ') -->
        {% endfor %}
    </ul>
    <a href="{{ url_for('about') }}">На главную</a>
{% endblock %}